*, *::before, *::after{
    font-family: 'Open Sans', sans-serif;
}
div {
    display: block;
    padding-bottom: 5px;
}
a:link {
    font-family: Arial, Helvetica, sans-serif;
    color: #0099ff;
    text-decoration: underline;
}
a:visited {
    color: #ff66f2;
}
a:hover {
    background: #091f80;
    font-weight: bold;
}
span {
    padding-top: 5px;
}
form{
    padding-top: 2rem;
    padding-left: 1rem;
}
fieldset {
    width: max-content;
    padding: 1rem;
    border-radius: 1.25rem;
}
nav {
    background-color: #c1f9ff;
    height: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 2rem;
    padding-top: 2px;
    width: 100%;
    margin-right: 5rem;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    float: left;
}
span ul li {
    float: left;
    margin-right: 1rem;
    margin-left: 0;
  }
form fieldset label {
    clear: left;
    float: left;
    text-align: left;
    padding-right: .5rem;
    padding-bottom: .5rem;
}

form fieldset input {
    float: right;
}

.ignorecss {
    all: revert;
} 
.alert {
    font-weight: bold;
    position: fixed;
    width: max-content; 
    display:flex; 
    color: white; 
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 5px 5px #888888;
    text-shadow: 2px 2px #888888;
    top: 1rem;
    right: 2rem;
}
.fail {
    background-color: hsla(0, 99%, 44%, 1); 
}
.success {
    background-color: hsla(118.1, 74.9%, 50%, 1); 
    
}
.btnWrapper {
    margin-left: .5rem;
    margin-right: 1.5rem;}
.pgCenter{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.inputWrapper {
    display: inline-block;
    padding-bottom: .5rem;
}
.row-container {
    display: flex;  
    padding:5px;
    font-weight: 300;
}
.row-container:nth-child(2n+3) {
    background-color: #f2f2f2;
}
.row-container:first-child {
    font-weight: bold;
    background-color: #dbdbdb;
}
.radio-group {
    float: none;
    font-size: .85rem;
}
.user-error {
    color: red;
    display: inline-block;
    font-size: .85rem;
}
#col-first {
    width: 40rem; 
    margin-left: 5rem;
}
#col-n {
    width: 15rem;
}
#col-last {
    width: 15rem;
}
#btnCloseNoti {
    color: inherit;
    background-color: inherit;
    border: none;
    font-size: 1.25em;
    display: inline-block;
    font-weight: bold;
}
#btnCloseNoti:hover {
    cursor: pointer;
    background-color: #00000021;
}
#submit-reset {
    padding-left: 30%;
    display: inline-block;
    padding-top: .5rem;
}
table#pddetails tr td input {
    width: 20rem
  }
input {
    text-transform: uppercase;
}
input.login {
    text-transform: none;
}
.body-wrapper {
    margin-left: 2.5rem;
}
.my-datatables-wrapper {
    margin-top: 3.7rem;
    margin-left: 3.0rem;
    margin-right: 2.5rem;    
}
.hidden {
    display: none;
}

/* The Modal (background) */
.checkout-bg {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .checkout-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .checkout-close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .checkout-close:hover,
  .checkoutclose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .checkout-header {
    padding: 2px 16px;
    background-color: #5cb6c694;
    color: white;
  }
  
  .checkout-body {padding: 2px 16px;}
  
  .checkout-footer {
    padding: .5rem 1rem;
    background-color: #5cb6c694;
    color: white;
  }
  #paid {
      text-align: right;
  }
  .receipt-modal {
      z-index: 2;
  }